#main {
  display: flex;
  height: calc(100vh - 60px);
}

#main > nav {
  background-image: url("/img/abstractBlackground.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#main > nav :hover {
  filter: blur(9px);
}

#main > article {
  background: #eeeeee;
  width: 100%;
}

@media screen and (min-width: 576px) {
  #main {
    flex-direction: row;
  }
  #main > nav {
    flex: 0 0 20vw;
  }  
}