#main {
  display: flex;
  flex-direction: row;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.rightSideContent {
  background-color: yellow;
  height: calc(100vh - 28.667px);
}
.leftSide {
  row-gap: 2;
}
