#main {
  display: flex;
  flex-direction: row;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightSideContent {
  background-color: yellow;
  height: calc(100vh - 3em);
  width: 100%;
}
.leftSide {
  row-gap: 2;
}
