.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
}

.messages-area {
  display: block;
  width: 100%;
}

body {
  overflow: hidden;
}

.linkHover:hover {
 color: #49a09d
}
 .linkHover:active {
	color: #49a09d;
}
.linkHover:visited {
	color: #49a09d;
}


.text-capitalize {
  text-transform: capitalize;
  text-align: center;
  font-size: x-large;
}
.divOkCancel {
  width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}