.left-menu-container {
  color: #ffffff;
  background-color: #37474f;
  display: flex;
  flex-direction: column;
  padding: 0 .7em;
  width: 250;
  height: 100vh;
  overflow-y: auto;
}

.left-menu-container a {
  padding-left: .3em;
  color: #bdbdbd;
}

.left-menu-container li {
  padding-left: 0;
  padding-bottom: .2em;
}

.left-menu-container .navUsers {
  margin: 0;
  padding: 0;
  padding-inline-start: .5em;
  list-style-type: none;  
}
.left-menu-container .navUsers li:before {
  content: "@";
}

.left-menu-container .navSalas {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  padding-inline-start: .5em;
  list-style-type: none;
}
.left-menu-container .navSalas li:before {
  content: "#"; 
}

.left-menu-container .navMenu {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  padding-inline-start: .5em;
  list-style-type: none;  
}

.left-menu-container .navMenu li:before {
  content: ""; 
}

.left-menu-container .tittle {
  display: flex;
  justify-content: space-between;
}

.left-menu-container .datosUser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
  margin-top: .5em;
}

.left-menu-container .photo {
  width: 2em;
  height: 2em;
  border-radius: 50px;
  margin-right: 10px;
}
