.main-nav {
  display: flex;
  background-color:#cfd8dc;
  width: 100%;
}

.main-nav > ul {
  list-style-type: none;
  display: flex;
  flex: 3;
  font-weight: bold;
  padding: 0px 10px;
}
.main-nav li {
  margin-right: 1em;
}
.main-nav > div {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.main-nav button {
  background-color:#cfd8dc;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  padding: 1.2em 1.5em;
}
.main-nav button:hover {
  opacity: 1;
}
