.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  background: #5f2c82;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: large;
}
.form-row {
  padding: 1em;
  text-align: center;
}

.form-tittle {
  margin-top: 1em;
  padding: .5em;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
  font-size: large;
}
.form-row > input {
  flex: 2;
  width: 20em;
  border-radius: 3px;
  border: none;
  border-color: transparent;
  border: 0;
  background-color: whitesmoke;
}
.form-row > input,
.form-row > button {
  padding: 0.5em;
}
.form-row > button {
  background-color: white;
  border-color: transparent;
  font-size: medium;
  border-radius: 3px;
  width: 5em;
}
.out_link {
  color: white;
}

a:link, a:visited {
  color: white;
  text-decoration: underline; 
}

a:link:active, a:visited:active {
  color: blueviolet;
}
