.messages-container {
  display: flex;
  flex-direction: column;
  padding: 1em .8em;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  color: #37474f;
}

.photoMsg {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50px;
  margin-right: 10px;
}

.width100 {
  width: 100%;
}

.date {
  color: grey;
}

.inp {
  align-items: flex-end;
}

.rightSideContent {
  background-color: yellow;
  height: calc(100vh - 3.5em);
}
