.FlexCont {
  display: flex;
  flex-direction: column;

}

.FlexRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  color: #37474f;
}

.photoMsg {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50px;
}

.width100 {
  width: 100%;
}

.date {
  color: grey;
}

.inp {
  align-items: flex-end;
}